.headContainer{
    display: flex;
    height:200px;
    width:90%;
    margin:auto;
    /* border: 2px solid cyan; */
}
.headContainer div:nth-child(1){
    display: flex;
    width: 25%;
    /* background-color: green; */
    height: 100%;
}
.headContainer div:nth-child(1) img{
    width: 100%;
}
.headContainer div:nth-child(2){
    display: grid;
    /* border:2px solid red; */
    width: 100%;
    grid-template-rows: repeat(2,1fr);
}
.headContainer div:nth-child(2) div{
    width : 100%
}
.input {
    display: flex;
    align-items: center;
    position: relative;
    /* border: 2px solid black; */
    border-radius:none;
    width: 100%;
    display: flex;
    justify-content: right;
  }
  .input input{
    width : 35%;
    height : 35%;
    border: 2px solid #7C878E;
    border-radius:none;
    margin-right: 10px;
    font-weight: bolder;
    color:#7C878E;
    padding-left: 10px;
}
  .input i {
    margin-right: 75px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    color: #999;
    font-size: 18px;
    background-image: url("path/to/image.png");
    width: 20px;
    height: 20px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
}
#resting{
    /* border:1px solid brown; */
    height:30%;
    width:30px;
    margin-right: 5px;
}
.categories{
    display: flex;
    /* flex-direction: column; */
    /* border : 1px solid black; */
    justify-content: right;
    font-weight: 550;

}
.categories>div{
    display:grid;
    color:#333F48;
    align-items: center;
    /* background-color: red; */
    grid-template-columns: repeat(7,1fr);
}
.categories>div>p{
    margin: 10px;
}
.categories>div>p:nth-child(7){
    color : #ED1703
}
#container2{
    display: flex;
    height: 72px;
    /* border: 2px solid red; */
    margin: auto;
    width: 90%;
    align-items: center;
    vertical-align: middle;
}
.findStore{
    width: 66%;
    /* background-color: aqua; */
}
.findStore div{
    display: flex;
    height: 20px;
}
.reward{
    display: flex;
    width:33%;
    height: 50%;
    text-align: left;
    color: #7C878E;
    flex-direction: column;

}


